services:
  landing-page:
    build:
      context: ./src/landing-page
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  my-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
